<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragment/common_head :: common_head"></th:block>
    <title>予定一覧 - SSA</title>
    <link rel="stylesheet" type="text/css" th:href="@{|/css/top.css|}"/>
</head>
<body>
<div class="container">
    <th:block th:include="fragment/common_header :: common_header"></th:block>
    <main role="main">
        <div class="jumbotron">
            <h1 class="display-8" th:text="|${targetDate}の予定|">予定一覧</h1>
        </div>
        <th:block th:if="${planList.isEmpty()}">
            <p>この日の予定はありません。</p>
        </th:block>
        <th:block th:unless="${planList.isEmpty()}">
            <div class="row marketing">
                <div class="col-lg-6">
                    <th:block th:each="plan : ${planList}">
                        <h4><a th:href="@{|/plan/detail/${plan.planId}|}" th:text="${plan.title}"></a></h4>
                        <p th:text="|${#temporals.format(plan.startTime, 'HH:mm:ss')} 〜 ${#temporals.format(plan.endTime, 'HH:mm:ss')}|"></p>
                    </th:block>
                </div>
            </div>
        </th:block>
    </main>
    <th:block th:include="fragment/common_footer :: common_footer"></th:block>
</div>
</body>
</html>
