<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:include="fragment/common_head :: common_head"></th:block>
    <title>ルーム作成 - SSA</title>
</head>
<body>

<h1 th:inline="text">ルーム作成画面</h1>

<form id="roomCreateForm" method="post" th:action="@{|/room/create|}" th:object="${roomCreateForm}">
    <div class="alert alert-danger" th:if="${#fields.hasErrors()}">
        <span>Error!!</span>
    </div>
    <input type="text" name="roomName" th:value="*{roomName}" size="30" maxlength="40"/>
    <input type="submit" class="button" value="ルーム作成"/>
</form>

<a th:href="@{|/room/list|}">ルーム一覧へ</a>

<div class="footer">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>
