<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="common_header">
    <div class="header clearfix" style="margin-bottom: 10px;">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Config</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">SSA</h3>
    </div>
</th:block>

</html>