<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="common_header">
    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/home|}">My Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Config</a>
                </li>
                <li class="nav-item">
                    <form id="sign-out-form" th:action="@{/logout}" method="post">
                        <a class="nav-link active sign-out-link" href="#">Sign Out</a>
                    </form>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">SSA</h3>
    </header>
</th:block>

</html>