<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssa.ssa.domain.mapper.OnetimeKeyMapper">
    <insert id="insert">
        INSERT INTO
        OnetimeKey (
            onetimeKey,
            roomId,
            createdAccountId,
            createdAt,
            updatedAt
        ) VALUES (
            #{randomKey},
            #{roomId},
            #{createdAccountId},
            now(),
            now()
        )
    </insert>

    <select id="isValid" resultType="java.lang.Long">
        SELECT
            R.roomId
        FROM
            OnetimeKey OK
            INNER JOIN Room R ON OK.roomId = R.roomId
        WHERE
            OK.onetimeKey = #{onetimeKey}
            AND
            OK.usedFlag = b'0'
            AND
            R.deleteFlag = b'0'
            AND
            OK.createdAt >= DATE_SUB(now(), INTERVAL 1 WEEK)
    </select>

    <update id="updateUsedFlag">
        UPDATE OnetimeKey
        SET
            usedFlag = b'1',
            updatedAt = now()
        WHERE
            onetimeKey = #{onetimeKey}
    </update>
</mapper>