<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssa.ssa.domain.mapper.PlanMapper">

    <select id="selectListOfDay" resultType="com.example.ssa.ssa.domain.model.Plan">
        SELECT
            planId,
            roomId,
            title,
            startDate,
            startTime,
            endDate,
            endTime
        FROM
            Plan
        WHERE
            <!-- ターゲット日付が予定の開始日と終了日の間の場合 -->
            startDate >= #{targetDate} AND #{targetDate} >= endDate
    </select>

    <insert id="insert">
        INSERT INTO
            Plan (
            roomId,
            title,
            startDate,
            startTime,
            endDate,
            endTime,
            memo,
            createdAccountId,
            createdAt,
            updatedAt
        ) VALUES (
            #{roomId},
            #{title},
            #{startDate},
            #{startTime},
            #{endDate},
            #{endTime},
            #{memo},
            #{createdAccountId},
            now(),
            now()
        )
    </insert>
</mapper>