<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:include="fragment/common_head :: common_head"></th:block>
    <title>新規会員登録</title>
</head>
<body>

<h1>新規会員登録</h1>

<form method="post" th:action="@{|/account/register|}" th:object="${accountRegisterForm}">
    <div class="alert alert-danger" th:if="${#fields.hasErrors()}">
        <span>Error!!</span>
    </div>
    <div class="alert alert-danger" th:if="${mailAddressError}">
        <span>MailAddress is already exists !!</span>
    </div>

    <p><label>MailAddress : <input type="email" name="mailAddress" th:value="*{mailAddress}" size="30" maxlength="40"/></label></p>

    <p><label>Password : <input type="password" name="password" th:value="*{password}" size="30" maxlength="40"/></label></p>

    <input type="submit" value="submit!!"/>
</form>

</body>
</html>