<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:include="fragment/common_head :: common_head"></th:block>
    <title>ルーム詳細 - SSA</title>
</head>
<body>

<h1 th:inline="text">ルーム詳細画面</h1>

<div class="alert alert-success" th:if="${roomJoinMessage}"><span th:text="${roomJoinMessage}"></span></div>
<div class="alert alert-success" th:if="${createPlanMessage}"><span th:text="${createPlanMessage}"></span></div>
<div class="alert alert-alert" th:if="${notJoinedMessage}"><span th:text="${notJoinedMessage}"></span></div>

<div th:text="|ルーム名 : ${detail.roomName}|"></div>
<th:block th:unless="${detail.joinAccounts.isEmpty()}">
    <p>参加メンバー</p>
    <div th:each="joinAccount : ${detail.joinAccounts}">
        <div th:text="|${joinAccount.nickname} （オーナー）|"></div>
    </div>
</th:block>

<table border="3" width="90%">
    <tr>
        <td><p>MON</p></td>
        <td><p>TUE</p></td>
        <td><p>WED</p></td>
        <td><p>THU</p></td>
        <td><p>FRI</p></td>
        <td><p>SAT</p></td>
        <td><p>SUN</p></td>
    </tr>
    <tr>
        <td><p>1</p></td>
        <td><p>2</p></td>
        <td><p>3</p></td>
        <td><p>4</p></td>
        <td><p>5</p></td>
        <td><p>6</p></td>
        <td><p>7</p></td>
    </tr>
    <tr>
        <td><p>8</p></td>
        <td><p>9</p></td>
        <td><p>10</p></td>
        <td><p>11</p></td>
        <td><p>12</p></td>
        <td><p>13</p></td>
        <td><p>14</p></td>
    </tr>
</table>

<div><a th:href="@{|/plan/input?roomId=${detail.roomId}|}">予定を作成する</a></div>

<form id="createInviteLink" method="post" th:action="@{|/room/createInviteLink|}">
    <input type="hidden" name="roomId" th:value="${detail.roomId}"/>
    <div><input type="submit" value="このルームの招待リンクを生成する"/></div>
</form>

<div><a th:href="@{|/room/list|}">ルーム一覧へ</a></div>

<th:block th:include="fragment/common_footer :: common_footer"></th:block>

</body>
</html>
