<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:include="fragment/common_head :: common_head"></th:block>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <script src="/js/room/inviteLink.js" th:src="@{|/js/room/inviteLink.js|}"></script>
    <title>招待リンク生成 - SSA</title>
</head>
<body>

<h1 th:inline="text">招待リンク生成画面</h1>

<div>
    <p>招待リンク : </p><input id="inviteLinkUrl" th:value="${inviteLinkUrl}" size="80"/>
    <img class="btn clipboard" data-clipboard-target="#inviteLinkUrl" th:src="@{/image/clipBoard.png}"/>
</div>

<div><a th:href="@{|/room/list|}">ルーム一覧へ</a></div>
<div><a th:href="@{|/home|}">HOMEへ</a></div>

<th:block th:include="fragment/common_footer :: common_footer"></th:block>

</body>
</html>
