<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragment/common_head :: common_head"></th:block>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <script src="/js/album/input.js" th:src="@{|/js/album/input.js|}"></script>
    <title>アルバム - SSA</title>
</head>
<body th:attr="data-roomid='1'">
<th:block th:include="fragment/common_header :: common_header"></th:block>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">フォトアルバム</h1>
        <p class="lead text-muted"></p>
        <p>
            <button class="btn btn-primary">Main action</button>
            <button class="btn btn-secondary">Secondary action</button>
        </p>
    </div>
</section>
<div class="album text-muted">
    <div class="container">
        <div class="row">
            <div th:if="${photoList.size()} > 0" th:each="photo : ${photoList}" class="card">
                <img data-src="holder.js/100px280/thumb" alt="100%x280" style="height: 280px; width: 100%; display: block;" th:src="${photo.imagePath}" data-holder-rendered="true"/>
                <p class="card-text">Photo01</p>
            </div>
        </div>
    </div>
</div>
<form id="imageInputForm" name="imageInputForm" method="post">
    <input id="files" type="file" name="files" multiple="multiple" accept="image/*"/>
</form>
<div><button id="js-image-upload">画像をアップロード</button></div>
<th:block th:include="fragment/common_footer :: common_footer"></th:block>
</body>
</html>
