<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragment/common_head :: common_head"></th:block>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <script src="/js/album/input.js" th:src="@{|/js/album/input.js|}"></script>
    <title>アルバム - SSA</title>
</head>
<body th:attr="data-roomid='1'">
<th:block th:include="fragment/common_header :: common_header"></th:block>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">フォトアルバム</h1>
        <p class="lead text-muted"></p>
        <div><button id="js-image-select" class="btn btn-primary">画像ファイルを選択</button></div>
        <div><button id="js-image-upload" class="btn btn-secondary">画像をアップロード</button></div>
        <form id="imageInputForm" name="imageInputForm" method="post" th:object="${imageInputForm}">
            <input id="files" type="file" name="files" multiple="multiple" accept="image/*" style="display: none;"/>
        </form>
    </div>
</section>
<div class="album text-muted">
    <div class="container">
        <div class="row">
            <div th:if="${photoList.size()} > 0" th:each="photo, stat : ${photoList}" class="card">
                <p class="card-text" th:text="|Photo${stat.count}|">Photo01</p>
                <img style="display: block;" th:src="@{|${photo.imageUrl}|}"/>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragment/common_footer :: common_footer"></th:block>
</body>
</html>
